<StackLayout>  
    <TextField returnKeyType="done" class="input-field" hint="Username" [(ngModel)]="userName" (returnPress)="getHighscoresData()"></TextField>
    <Label class="error-message" *ngIf="searchErrorMessage" [text]="searchErrorMessage"></Label> 
    <ActivityIndicator *ngIf="searching" busy="{{ searching }}"></ActivityIndicator>
    <Button *ngIf="!searching" text="Search" class="submit-button" type="submit" (tap)="getHighscoresData()"></Button>
</StackLayout>