<ScrollView>
    <StackLayout cssClass="table-container">
        <StackLayout *ngFor="#skill of userData" class="table-skill">
            <GridLayout columns="auto, *" rows="auto" cssClass="{{isActiveTable === skill.name ? 'table-skill-header-open' : 'table-skill-header-closed' }}" (tap)="onHeaderClicked(skill.name, skill.xp)" >
                <Image col="0" style="width:20;height:20;margin-right:5;margin-left:5;" horizontalAlignment="left" verticalAlignment="center" src="~/img/test/{{skill.name}}.gif"></Image>
                <Label col="1" horizontalAlignment="left" verticalAlignment="center" text="{{skill.name}}"></Label>
                <Label col="2" horizontalAlignment="right" verticalAlignment="center" text="{{isActiveTable === skill.name ? '&#xf106;' : '&#xf107;' }}"  cssClass="{{isActiveTable === skill.name ? 'fa fa-angle-up' : 'fa fa-angle-down' }}"></Label>
            </GridLayout>
            <StackLayout *ngIf="isActiveTable === skill.name" class="table-skill-body">               
                <ActivityIndicator horizontalAlignment="center" *ngIf="gettingSkillData" busy="{{ gettingSkillData }}"></ActivityIndicator>
                <Label horizontalAlignment="center" *ngIf="gettingSkillData" text="calculating..."></Label>
                <StackLayout *ngIf="skillData">
                    <Label *ngIf="skillData?.error" text="{{ skillData.error }}"></Label>
                    <StackLayout *ngIf="!skillData?.error">
                     <Label text="item name | level required | xpPerAction | # actions"></Label>
                    <StackLayout *ngFor="#item of skillData" class="table-skill">
                        <Label text="{{item?.itemName}} | {{item?.itemLevel}} | {{item?.xpPerAction}} | {{item?.neededActions}} "></Label>
                    </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>