﻿.fa {
    font-size: 30;
    font-family: 'FontAwesome', fontawesome-webfont;
}
button {
    font-size: 12;
}

.title {
    font-size: 50;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

Button, TextField, Label {
  margin-left: 16;
  margin-right: 16;
}

.submit-button {
  background-color: red;
  color: white;
}
.error-message {
    text-align: center;
    margin: 0 20;
    background-color: black;
    color: white;
    font-size: 20;
}

.table-skill-header-open {
    margin-top: 12;
    margin-left: 12;
    margin-right: 12;
    background-color: #fff;   
    border-style: solid;
    border-width: 1;
    border-color: #ddd;
}

.table-skill-header-closed {
    margin-left: 16;
    margin-right: 16;
    background-color: #fff;   
    border-style: solid;
    border-width: 1;
    border-color: #ddd;
}


.table-skill-body {
    margin-left: 12;
    margin-right: 12;
     margin-bottom: 12;
    background-color: #fff;   
    border-style: solid;
    border-width: 1;
    border-color: #ddd;
}

.table-container {
    margin-bottom: 12;
}