<ActionBar title="Max Calc"></ActionBar>
<StackLayout>
    <user-search-bar (UserData)="onUserData($event)">
    </user-search-bar>
    <user-search-listview *ngIf="userData?.length" [UserData]="userData">
    </user-search-listview>
</StackLayout>